<header>
  Hi! My name is Aleksandr Yakunichev. I am a software developer and a sound artist. I live in Moscow, Russia.
  I organize music and art events on <a href="https://facebook.com/yakunichev.aleksandr" target="_blank" rel="noopener noreferrer">Facebook</a>.
  If you wanna see some of my performances, you can find recordings on <a href="https://www.youtube.com/channel/UCoXvOIUBIC1Asfl6SAtt90Q" target="_blank" rel="noopener noreferrer">Youtube</a>.
  On <a href="https://twitter.com/yacodes" target="_blank" rel="noopener noreferrer">Twitter</a>, I share my thoughts and small snippets of code and music.
  You can find all my code at <a href="https://github.com/yacodes" target="_blank" rel="noopener noreferrer">Github</a>.
  If you want to work together, write to me at <a href="mailto:hi@ya.codes" rel="noopener noreferrer">hi@ya.codes</a>.
</header>

<style>
 .drone {padding: 12px 12px 15px; margin-right: -12px; margin-left: -12px; background: #000; color: #fff;}
 .drone a {color: #fff;}
 .drone h1 {margin-bottom: 12px; margin-top: 0;}
 .drone p {margin-bottom: 18px; margin-top: 0;}
 .drone audio {width: 100%; display: block; border-radius: none;}
</style>
<section class="drone">
  <h1>Drone Day</h1>
  <p>An annual celebration of drone, community, and experimental sounds! For more information check out <a href="" target="_blank" rel="noopener noreferrer">Drone Day website</a>.</p>
  <audio controls src="https://os.ya.codes/2020-05-31-droneday/2020-05-31-droneday.wav">
    Your browser does not support the <code>audio</code> element.
  </audio>
</section>

<section>
  <h1>Events</h1>
  <ul>
    {{range .Events}}
      <li itemscope itemtype="https://schema.org/Event">
        <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2006/01/02"}}</time>&nbsp;<a href="/e/{{.Slug}}" itemprop="url"><span itemprop="name">{{.Title}}</span></a>&nbsp;<span>@</span>&nbsp;<strong>{{.Venue}}</strong>
      </li>
    {{end}}
  </ul>
</section>
