<header>
  Hi! My name is Aleksandr Yakunichev. I am a software developer and a sound artist. I live in Moscow, Russia.
  I organize music and art events on <a href="https://facebook.com/yakunichev.aleksandr" target="_blank" rel="noopener noreferrer">Facebook</a>.
  On <a href="https://twitter.com/yacodes" target="_blank" rel="noopener noreferrer">Twitter</a>, I share my thoughts and small snippets of code and music.
  You can find all my code at <a href="https://github.com/yacodes" target="_blank" rel="noopener noreferrer">Github</a>.
  If you want to work together, write to me at <a href="mailto:hi@ya.codes" rel="noopener noreferrer">hi@ya.codes</a>.
</header>

<main>
  <section>
    <h1>Events</h1>
    <ul>
      {{range .Events}}
        <li itemscope itemtype="https://schema.org/Event">
          <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2006/01/02"}}</time>
          <a href="/e/{{.Slug}}" itemprop="url"><span itemprop="name">{{.Title}}</span></a>
        </li>
      {{end}}
    </ul>
  </section>
</main>
